# Python 缓存文件
__pycache__/
*.py[cod]
*.so

# 日志文件
*.logs/

# 虚拟环境
venv/
env/
.venv/
.conda/
.ENV/

# Jupyter Notebook 检查点
.ipynb_checkpoints

# 数据文件
*.csv
*.h5
*.npy
*.npz
*.pth
*.pt
*.pkl

# VSCode 配置
.vscode/

# 编译生成的临时文件
build/
dist/
*.egg-info/

# 操作系统文件
.DS_Store
Thumbs.db

# 环境配置
.env
logs/
profile.*

# pixi environments
.pixi/*
!.pixi/config.toml
outputs/
mcap_data/
pretrained_models/
