matplotlib
numpy==2.2.6
torch==2.8.0
torchvision
tqdm==4.67.0
tensorboard
scipy
# for mcap data loading
mcap-data-loader @ git+https://github.com/OpenGHz/MCAP-DataLoader.git
torchdata>=0.10.0
transformers==4.57.0
einops
